@use '/src/styles/abstracts/mixins';

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    border: none;
    background-color: white;
    color: black;
    padding: 20px 18px;
    width: 100%;
    max-width: 250px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .3s ease-out;

    @include mixins.for-phone-only {
        max-width: 100%;
    }

    @include mixins.for-desktop-up {
        font-size: 0.95vw;
        padding: 1.3em 1.5em;
    }

    @include mixins.for-big-desktop-up {
        font-size: 0.75vw;
        padding: 1.5em 1em;
        max-width: 11vw;
    }


    &:hover{
        opacity: 0.8;
        &::after{
            right: 0;
            bottom: 0;
        }
    }

    &::after{
        content: '';
        position: absolute;
        right: -8px;
        bottom: -8px;
        border-radius: 5px;
        background-color: rgba(256, 256, 256, 0.42);
        width: 100%;
        height: 100%;
        z-index: -1;
        transition:  bottom .3s ease-out, right .3s ease-out;
    }
}



.btn {
    font-size: 14px;
    color: white;
    padding: 20px 24px;
    border-radius: 16px;
    box-shadow: 0 0 3px gainsboro;
    font-weight: bold;

    &--red {
        background-color: #FF0661;
    }

    &--gray {
        background-color: #F2F2F2;
        border: 1px solid gainsboro;
        color: black;
    }
}