<div class="new-game-dialog">
    <div class="new-game-dialog-inner">
        <button mat-dialog-close class="close-modal-button"> 
            <img src="assets/images/erase-icon.svg" alt="Erase field">
        </button>
        
        <h2 class="title">Choose Dificulty</h2>
        
        <ul>
            <li *ngFor="let item of game_levels">
                <sudoku-button [text]="item.buttonText" (clicked)="createNewGame(item)"></sudoku-button>
            </li>
        </ul>
    </div>
</div>
