@use '/src/styles/abstracts/colors';
@use '/src/styles/abstracts/mixins';

header {
    display: flex;
    justify-content: center;
    align-items: center;

    &.isGame {
        @include mixins.for-phone-only {
            background-color: whitesmoke;
            box-shadow: 0 0 2px black;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px 0 32px;
        }

        a {
            h1 {
                @include mixins.for-phone-only {
                    font-size: 15px;
                    margin: 6px 0;
                    color: black;
                }
    
                span {
                    @include mixins.for-phone-only {
                        display: none;
                    }
                }
            }   
        }

        .fullscreen-btn {
            @include mixins.for-phone-only {
                display: flex;
            }
        }
    }

    a {
        text-decoration: none;

        h1 {
            font-size: 24px;
            position: relative;
            filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));

            @include mixins.for-desktop-up {
                font-size: 1.5vw;
            }

            span {
                font-size: 12px;
                padding: 0 4px;
                border-radius: 2px;
                background-color: colors.$white;
                color: colors.$black;
                position: absolute;
                right: 0;
                bottom: -14px;

                @include mixins.for-desktop-up {
                    font-size: 0.6vw;
                    bottom: -1em;
                }
            }
        }
    }

    .fullscreen-btn {
        display: none;
        align-items: center;
        gap: 12px;

        img {
            width: 16px;
        }
    }

    .themes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        position: relative;
        position: absolute;
        right: 64px;

        .other-themes {
            display: flex;
            flex-direction: column;
            gap: 12px;
            position: absolute;
            left: 0;
            top: 36px;


            .theme-item {
                opacity: 0;
                // add delay to each item for staggered animation
                
                &:nth-child(2) {
                    animation-delay: 0.1s;
                }
                &:nth-child(3) {
                    animation-delay: 0.2s;
                }
                &:nth-child(4) {
                    animation-delay: 0.3s;
                }
                animation: fadeInSlideUp 0.2s ease-in-out forwards;
            }
        }

        .theme-item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border: none;
            color: ghostwhite;
            text-transform: capitalize;

            .color-circle {
                display: block;
                background-color: colors.$white;
                border: none;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                transition: background-color 0.3s, transform 0.3s;
                border: 2px solid aliceblue;

                &:hover {
                    transform: translateY(-2px);
                }
            }
            

            &.light {
                .color-circle {
                    background-color: colors.$white;                
                }
            }
            &.dark {
                .color-circle {
                    background-color: colors.$black;
                }
            }
            &.blue {
                .color-circle {
                    background-color: colors.$blue;
                }
            }
            &.silver {
                .color-circle {
                    background-color: colors.$blue--dark;
                }
            }
        }
    }
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}