@use '/src/styles/abstracts/colors';
@use '/src/styles/abstracts/mixins';

header {
    display: flex;
    justify-content: center;

    &.isGame {
        @include mixins.for-phone-only {
            background-color: whitesmoke;
            box-shadow: 0 0 2px black;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px 0 32px;
        }

        h1 {
            @include mixins.for-phone-only {
                font-size: 14px;
                margin: 5px 0;
                color: black;
            }

            span {
                @include mixins.for-phone-only {
                    display: none;
                }
            }
        }

        .fullscreen-btn {
            @include mixins.for-phone-only {
                display: flex;
            }
        }
    }

    a {
        text-decoration: none;

        h1 {
            font-size: 24px;
            position: relative;
            filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));

            @include mixins.for-desktop-up {
                font-size: 1.5vw;
            }

            span {
                font-size: 12px;
                padding: 0 4px;
                border-radius: 2px;
                background-color: colors.$white;
                color: colors.$black;
                position: absolute;
                right: 0;
                bottom: -14px;

                @include mixins.for-desktop-up {
                    font-size: 0.6vw;
                    bottom: -1em;
                }
            }
        }
    }

    .fullscreen-btn {
        display: none;
        align-items: center;
        gap: 12px;

        img {
            width: 16px;
        }
    }
}