<picture>
	<source media="(max-width: 599px)" srcset="assets/images/mobile-game@1x.png" />
	<source media="(min-width: 600px)" srcset="assets/images/mobile-game@2x.png" />
	<img src="assets/images/mobile-game@2x.png" alt="Sudoku mobile game comming soon" />
  </picture>
<p>With more than 4, 000 000 users, play it on mobile and take sudoku wherever you go!</p>
<div class="get-it-on-mobile-store">
	<a href="https://google.com">
		<img src="assets/images/get-it-on-app-store.svg" alt="Get it on app store" />
	</a>
	<a href="https://google.com">
		<img src="assets/images/get-it-on-play-store.svg" alt="Get it on play store" class="google-play" />
	</a>
</div>