:host {
  display: inline-flex;
}

.sudoku-icon {
  transition: fill 0.2s;
  display: inline-block;

  &--xs {
    width: 16px;
    height: 16px;
  }

  &--sm {
    width: 20px;
    height: 20px;
  }

  &--md {
    width: 24px;
    height: 24px;
  }

  &--lg {
    width: 32px;
    height: 32px;
  }

  &-color {
    &--grey {
      fill: gray;
    }

    &--black {
      fill: black;
    }

    &--white {
      fill: white;
    }
  }
}
