<div class="sudoku-grid">
    <div *ngFor="let row of array; let i = index" class="flex"
        [ngClass]="{'active-row': i == sudokuService.puzzle.activeElementRow}">
        <div *ngFor="let column of array; let j = index;" class="box" [attr.id]="i.toString() + j.toString()"
            [ngClass]="{'active-column': j == sudokuService.puzzle.activeElementColumn}">
            <button (click)="onClick($event); $event.stopPropagation()"
                [ngClass]="{'active': i == sudokuService.puzzle.activeElementRow && j == sudokuService.puzzle.activeElementColumn}">
                <span class="number-value"
                    [ngClass]="{'computed': sudoku_puzzle[i][j]?.computed, 'invalid': !sudoku_puzzle[i][j]?.valid}">{{
                    sudoku_puzzle[i][j]?.value }}</span>
                <span class="pattern"
                    [ngClass]="{'show': i == sudokuService.puzzle.activeElementRow || j == sudokuService.puzzle.activeElementColumn}"></span>
            </button>
        </div>
    </div>
</div>

<div class="sudoku-controls-container">
    <div class="sudoku-controls-container-header">
        <sudoku-timer></sudoku-timer>
        <div class="lifes-left">
            <!-- TODO: DRY (Don't Repeat yourself) -->
            <img src="assets/images/awesome-brain-icon.svg" alt="Brain icon that represents life in game"
                [ngClass]="{'hide': sudokuService.puzzle.mistakes >= 3}" />
            <img src="assets/images/awesome-brain-icon.svg" alt="Brain icon that represents life in game"
                [ngClass]="{'hide': sudokuService.puzzle.mistakes >= 2}" />
            <img src="assets/images/awesome-brain-icon.svg" alt="Brain icon that represents life in game"
                [ngClass]="{'hide': sudokuService.puzzle.mistakes >= 1}" />
        </div>
    </div>
    <ul class="numbers">
        <li *ngFor="let item of array">
            <button (click)="setField(item + 1)">
                <span class="main-number">{{item + 1}}</span>
            </button>
        </li>
    </ul>
    <ul class="action-controls">
        <li>
            <button (click)="restartGame()">
                <img src="assets/images/restart-icon.svg" alt="Restart game">
                <span class="label">Restart</span>
            </button>
        </li>
        <li>
            <button (click)="eraseSelectedField()">
                <img src="assets/images/erase-icon.svg" alt="Erase field">
                <span class="label">Erase</span>
            </button>
        </li>
        <li>
            <button>
                <img src="assets/images/notes-icon.svg" alt="Take a note">
                <span class="label">Notes</span>
            </button>
        </li>
        <li>
            <button (click)="undoPlay()" [disabled]="!isUndoEnabled()">
                <img src="assets/images/undo-icon.svg" alt="Undo">
                <span class="label">Undo</span>
                <span class="available-undo-moves">{{sudokuService.puzzle.undo.available_moves}}</span>
            </button>
        </li>
    </ul>
    <sudoku-button text="New game" (clicked)="newGame()"></sudoku-button>
</div>