@use '/src/styles/abstracts/mixins';

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .router-component-wrapper{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mixins.for-phone-only{
            justify-content: flex-start;
            padding: 45px 0;
        }
    }
}