<div class="mobile-app-container">
    <picture>
        <source media="(max-width: 599px)" srcset="assets/images/mobile-game@1x.png" />
        <source media="(min-width: 600px)" srcset="assets/images/mobile-game@2x.png" />
        <img src="assets/images/mobile-game@2x.png" alt="Sudoku mobile game comming soon" />
      </picture>

    <sudoku-button-link text="Play Now" route="/game"></sudoku-button-link>
	<form class="notify-me" [formGroup]="form" (ngSubmit)="onSubmit()">
		<h3>Coming soon on mobile devices!</h3>
		<div class="velc-input" [ngClass]="{'invalid': !form.valid, 'loading': loading, 'success': success}">
            <input maxlength="50" placeholder="Please enter your email" formControlName="email"/>
            <button>        
                <span>{{ buttonText }}</span>
                <sudoku-spinner [size]="16" *ngIf="loading"></sudoku-spinner>
            </button>
        </div>        
		<p>Notify me when app is launched! 🚀</p>
	</form>
</div>
